/*Agregar fuentes*/
@font-face {
    font-family: 'MiFuentePersonalizada';
    /* Nombre que asignarás a la fuente */
    src: url('../fonts/fr-bold.ttf') format('truetype');
    /* Ruta al archivo TTF */
}

/* Habilitar el desplazamiento suave en toda la página */
html {
    scroll-behavior: smooth;
}

/* ajusta el section mas abajo */
section {
    scroll-margin-top: 50px;
  }

/* Anular los estilos de enlace para todos los elementos dentro de <a> */
a,
a:hover,
a:visited {
    text-decoration: none; /* Elimina el subrayado */
}


/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body,h1,h2,h3,p,ul,li {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    color: #348dec;
    /* Azul */
}



/* Estilos generales y fondos */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #007bff, #ffffff);
    /* Fondo degradado de azul (#007bff) a blanco (#ffffff) */
    color: #333;
    /* Texto negro */
}


/*ICONO*/
.boton-superior-izquierda {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
   
    height: auto; /* Mantiene la proporción de la imagen */
    border: #98c3ed solid;
    border-radius:  0 20px 20px 20px; 
    transition: transform 0.5s ease; /* Cambia la duración y la función de temporización según tus preferencias */
}

.imagen-logo{
    width: 5px; /* Establece el ancho deseado en píxeles */
}

div.boton-superior-izquierda:hover{
    transform:scale(2) translate(20px, 20px)  rotate(360deg);
}

/*BOTON IDIOMAS*/
.language-selector {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Alinea los elementos a la derecha */
}

#language-dropdown {
    margin-left: 10px;
    /* Espacio entre el menú desplegable y el botón */
}




/* Estilo del menú desplegable (select) */
#language-dropdown {
    background-color: #6aa9e9;
    /* Color de fondo azul */
    color: #fff;
    /* Color del texto en blanco */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambiar el color del menú desplegable al pasar el mouse sobre él */
#language-dropdown:hover {
    background-color: #007bff;
    /* Color de fondo azul más oscuro al pasar el mouse */
}

/* Cambiar el estilo de la flecha del menú desplegable (opcional) */
#language-dropdown::after {
    content: "\25BC";
    /* Triángulo hacia abajo como flecha */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff;
    /* Color de la flecha en blanco */
    pointer-events: none;
    /* Evitar eventos de clic en la flecha */
}






/* ESTILO ENCABEZADO */
header {
    text-align: center;
    padding: 0;
    /* Elimina el padding superior e inferior */
    margin: 0;
    /* Elimina el margen superior e inferior */

    flex-direction: column;
    /* Alinea verticalmente los elementos */
    justify-content: center;
    /* Centra verticalmente los elementos */
}

header h1,
h2 {

    color: white;
    font-family: MiFuentePersonalizada;

    /* Agrega espacio entre la imagen y el texto */


}

header h1 {
    font-size: 10vw;
    margin-top: 100px;
    margin-bottom: 20px;

}

header h2 {
    margin-bottom: 50px;
    font-size: 2vw;
    color: #007bff
}


/* NAVBAR */

/* Lo fixea arriba */
nav {
    background: #4a9ae9;
    position: sticky;
    /* deja fijo el menu */
    top: 0;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    z-index: 9999;
}

nav ul {
    list-style: none;
    display: flex;
    border-color: #333;
    border-radius: 2px;
    padding: 0; /* Eliminar el relleno predeterminado de la lista */
}

nav li {
    background: #318CE7;
    margin: 0 10px; /* Agregar margen entre los elementos del menú */
    padding: 0 10px;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    /* Texto blanco */
    font-weight: bold;
    font-size: 40px;
    transition: color 0.3s, font-size 0.3s ease; /* Combinar transiciones en una línea */
}

nav a:hover {
    color: #779bb0;
    /* Azul claro al pasar el cursor */
    transform: scale(2.5);
    font-size: 50px;
}


/* Estilos para el SUBMENU */
.submenu {
    display: none;
    position: absolute;
    background-color: #318CE7;
    /* Color de fondo azul */
    list-style: none;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    animation: entradaDifuminada 0.5s ease-in-out;
    /* Agrega la animación de difuminado */
    opacity: 0;
    /* Establece la opacidad inicial en 0 para que la animación funcione */
    top: 100%;
    /* Colocar el submenu debajo del elemento li */


}

/* Alinear los elementos del submenu verticalmente */
.submenu li {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Mostrar el submenu al pasar el cursor sobre "Sobre Mí" */
nav ul li:hover .submenu {
    display: block;
    opacity: 1;
    /* Ajusta la opacidad a 1 cuando se muestra el submenu */
}


/* CARRUSEL */

.Carousel{
    width: 100%;
    margin: 0;
}
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    margin-top: 50px;
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 404px; /*separacion vertical*/
    padding: 10px 0px; /*padding vertical*/
    margin: 0px auto;
    max-width: 90vw;/*tamaño lateral del carril*/
    overflow: hidden;
    background-color:#98c3ed;
    border-radius: 20px;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 500px; /*tamaño  lateral div-imagen*/
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
    transform: scale(1.1);
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

/*COSAS DEL AGRANDADO*/
.lightbox {
    position: relative;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

/* Estilos para mostrar el lightbox cuando se hace clic */
.lightbox:focus + .overlay {
    display: flex;
}

/* FOOTER */



/* Estilos para enlaces en el pie de página */

footer {
    text-align: center;
    padding: 20px;
    background-color: #52a4fc;
    /* Azul */
    color: #fff;
    /* Texto blanco */
}

footer a {
    color: #fff;
    /* Texto blanco */
    text-decoration: underline;
}









/*BARRA LATERAL*/

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 20px;
}

/* Estilo para el track de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: white;
    /* Cambia el color del track a #007bff */
}

/* Estilo para el thumb (el "pulgar") de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #318CE7;
    /* Cambia el color del pulgar a #318CE7 */
    border-radius: 5px;
    border: 3px solid #4a9ae9;
    /* Cambia el color del borde a #4a9ae9 */
    background-image: #007bff;
    /* Cambia la imagen de fondo */
}

/* Estilo para el thumb de la barra de desplazamiento cuando está siendo arrastrado */
::-webkit-scrollbar-thumb:hover {
    background-color: #6aa9e9;
    /* Cambia el color del pulgar al pasar el cursor a #6aa9e9 */
}






/* ANIMACIONES */


/* Animación de entrada desde la izquierda */
@keyframes entradaDesdeIzquierda {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animación de entrada desde la derecha */
@keyframes entradaDesdeDerecha {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animación de entrada desde arriba */
@keyframes entradaDesdeArriba {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animación de entrada desde abajo */
@keyframes entradaDesdeAbajo {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animación de entrada difuminada */
@keyframes entradaDifuminada {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animación salto */
@keyframes salto {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Estado inicial y final */
    }
    40% {
        transform: translateY(-30px); /* Primer salto grande hacia arriba */
    }
    60% {
        transform: translateY(-15px); /* Primer pequeño salto hacia abajo */
    }
    70% {
        transform: translateY(-25px); /* Segundo pequeño salto hacia arriba */
    }
}






/* Aplicar las animaciones*/
.entradaDesdeDerecha {

    animation: entradaDesdeDerecha 1s ease-in-out;
}

.entradaDesdeIzquierda {
    animation: entradaDesdeIzquierda 1s ease-in-out;
}

.entradaDesdeIzquierdaLenta {
    animation: entradaDesdeIzquierda 2s ease-in-out;

}

.entradaDesdeArriba {
    animation: entradaDesdeArriba 2s ease-in-out;
}

.entradaDesdeAbajo {
    animation: entradaDesdeAbajo 1s ease-in-out;
}

.entradaDifuminada {
    animation: entradaDifuminada 2s ease-in-out;
}










/* Media query para hacer que la página sea receptiva en dispositivos medianos */
@media (max-width: 1080px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

   
}
/* Media query para hacer que la página sea receptiva en dispositivos pequeños */
@media (max-width: 768px) {

    /* Navegador */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }

    

}