/*Agregar fuentes*/
@font-face {
    font-family: 'MiFuentePersonalizada';
    /* Nombre que asignarás a la fuente */
    src: url('../fonts/fr-bold.ttf') format('truetype');
    /* Ruta al archivo TTF */
}

/* Habilitar el desplazamiento suave en toda la página */
html {
    scroll-behavior: smooth;
}

/* ajusta el section mas abajo */
section {
    scroll-margin-top: 50px;
  }

/* Anular los estilos de enlace para todos los elementos dentro de <a> */
a,
a:hover,
a:visited {
    text-decoration: none; /* Elimina el subrayado */
}


/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body,h1,h2,h3,p,ul,li {
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    color: #348dec;
    /* Azul */
}



/* Estilos generales y fondos */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #007bff, #ffffff);
    /* Fondo degradado de azul (#007bff) a blanco (#ffffff) */
    color: #333;
    /* Texto negro */
}


/*ICONO*/
.boton-superior-izquierda {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
   
    height: auto; /* Mantiene la proporción de la imagen */
    border: #98c3ed solid;
    border-radius:  0 20px 20px 20px; 
    transition: transform 0.5s ease; /* Cambia la duración y la función de temporización según tus preferencias */
}

.imagen-logo{
    width: 5px; /* Establece el ancho deseado en píxeles */
}

div.boton-superior-izquierda:hover{
    transform:scale(2) translate(18px, 18px)  rotate(360deg);
}

/*BOTON IDIOMAS*/
.language-selector {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Alinea los elementos a la derecha */
}

#language-dropdown {
    margin-left: 10px;
    /* Espacio entre el menú desplegable y el botón */
}




/* Estilo del menú desplegable (select) */
#language-dropdown {
    background-color: #6aa9e9;
    /* Color de fondo azul */
    color: #fff;
    /* Color del texto en blanco */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambiar el color del menú desplegable al pasar el mouse sobre él */
#language-dropdown:hover {
    background-color: #007bff;
    /* Color de fondo azul más oscuro al pasar el mouse */
}

/* Cambiar el estilo de la flecha del menú desplegable (opcional) */
#language-dropdown::after {
    content: "\25BC";
    /* Triángulo hacia abajo como flecha */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #fff;
    /* Color de la flecha en blanco */
    pointer-events: none;
    /* Evitar eventos de clic en la flecha */
}






/* ESTILO ENCABEZADO */
header {
    text-align: center;
    padding: 0;
    /* Elimina el padding superior e inferior */
    margin: 0;
    /* Elimina el margen superior e inferior */

    flex-direction: column;
    /* Alinea verticalmente los elementos */
    justify-content: center;
    /* Centra verticalmente los elementos */
}

header h1,
h2 {

    color: white;
    font-family: MiFuentePersonalizada;

    /* Agrega espacio entre la imagen y el texto */


}

header h1 {
    font-size: 6vw;
    margin-top: 100px;
    margin-bottom: 20px;

}

header h2 {
    margin-bottom: 50px;
    font-size: 2vw;
    color: #007bff
}





/* Estilos para el contenedor del fondo encabezado */
.header-container {


    background-image: url("../imgs/index/fondo\ azul\ header.jpeg");
    background-size: cover;
    /* Ajusta la imagen de fondo para cubrir completamente el contenedor */
    background-position: center;
    /* Centra la imagen de fondo horizontal y verticalmente */
    border-radius: 10px;
    /* Borde redondeado */
    padding: 20px;
    /* Espaciado interno */
    margin-left: 30px;
    margin-right: 30px;
    /* Margen alrededor del cuadro blanco */

    margin-bottom: 50px;

}





header img {
    border-radius: 50%;
    /* Borde redondeado para hacer la imagen circular */
    border: 10px solid #ffffff;
    /* Borde con un grosor de 10px y color blanco (#ffffff) */
    object-fit: cover;
    /* Ajusta la imagen para cubrir todo el espacio */
    width: 30vw;
    /* Ancho de la imagen */
    height: 30vw; /* Igualamos el alto al ancho para hacerla circular */
    transition: transform 0.2s ease; /* Transición suave al hacer hover */
    animation-duration: 1.5s;
    /* Duración total de la animación */
    animation-timing-function: ease-in-out;
    /* Función de temporización para suavizar la animación */
    transform: translateY(20px);
}



header img:active{
     animation-name: salto;
    /* Nombre de la animación a aplicar al hacer clic */
    transform-origin: bottom;
    /* Origen de la transformación en la parte inferior de la imagen */
    animation-iteration-count: 1;
    /* Número de veces que se ejecutará la animación (1 vez) */
    opacity: 1;
}

.logo:hover:not(.active) {
   
  }
/* NAVBAR */

/* Lo fixea arriba */
nav {
    background: #4a9ae9;
    position: sticky;
    /* deja fijo el menu */
    top: 0;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 5px;
    z-index: 9999;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    border-color: #333;
    border-radius: 2px;
    padding: 0; /* Eliminar el relleno predeterminado de la lista */
}

nav li {
    background: #318CE7;
    margin: 0 10px; /* Agregar margen entre los elementos del menú */
    padding: 0 10px;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    /* Texto blanco */
    font-weight: bold;
    font-size: 40px;
    transition: color 0.3s, font-size 0.3s ease; /* Combinar transiciones en una línea */
}

nav a:hover {
    color: #779bb0;
    /* Azul claro al pasar el cursor */
    transform: scale(2.5);
    font-size: 50px;
}




/* Estilos para el SUBMENU */
.submenu {
    display: none;
    position: absolute;
    background-color: #318CE7;
    /* Color de fondo azul */
    list-style: none;
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    animation: entradaDifuminada 0.5s ease-in-out;
    /* Agrega la animación de difuminado */
    opacity: 0;
    /* Establece la opacidad inicial en 0 para que la animación funcione */
    top: 100%;
    /* Colocar el submenu debajo del elemento li */


}

/* Alinear los elementos del submenu verticalmente */
.submenu li {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Mostrar el submenu al pasar el cursor sobre "Sobre Mí" */
nav ul li:hover .submenu {
    display: block;
    opacity: 1;
    /* Ajusta la opacidad a 1 cuando se muestra el submenu */
}







/* Estilos específicos para secciones */




/* SOBRE MÍ */
#sobre-mi {
    background-color: #fff;
    /* Fondo blanco */
    padding: 50px;
    box-shadow:rgba(1, 110, 254, 0.4) 5px 5px, rgba(1, 110, 254, 0.3) 10px 10px, rgba(1, 76, 173, 0.2) 15px 15px, rgba(1, 40, 91, 0.1) 20px 20px, rgba(1, 30, 67, 0.05)5px 25px;
    /* Sombra ligera */
    display: flex;
    /* Mostrar elementos en línea uno al lado del otro */
    align-items: center;
    /* Alinear elementos verticalmente al centro */
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}

#sobre-mi img {
    max-width: 50%;
    /* La imagen ocupará la mitad izquierda de la sección */
    margin-right: 200px;
    /* Espacio entre la imagen y el texto */
    border-radius: 20px;
}

#sobre-mi h3 {

    font-size: 60px;
}

#sobre-mi p {
    flex-grow: 1;
    /* El texto ocupará todo el espacio restante */
    font-size: 20px;
    margin-right: 100px;
}


/* Complemento a el script de cambio de imagen */
#imagen {
    
    z-index: 0; /* Coloca la imagen detrás del contenido */
    opacity: 1;
    /* La imagen inicial se muestra completamente */
    transition: opacity 1s ease;
    /* Transición de opacidad de 1 segundo (más suave) */
    max-width: 100%;
    /* Ajusta el tamaño de la imagen según el contenedor */
    height: auto;
}






/* Estilos para secciones */
#experiencia,
#educacion {
    background-color: #f0f0f0;
    /* Fondo gris claro */
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(1, 110, 254, 0.4) 5px 5px, rgba(1, 110, 254, 0.3) 10px 10px, rgba(1, 76, 173, 0.2) 15px 15px, rgba(1, 40, 91, 0.1) 20px 20px, rgba(1, 30, 67, 0.05)5px 25px;
    /* Sombra ligera */
    text-align: center;
    /* Centrar el contenido */
    width: 50%;
    /* Ancho inicial del 50% */
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}

/* Alinear el título de las secciones al centro */
#experiencia h3,
#educacion h3 {
    text-align: center;
    font-size: 30px;
}

/* Alinear la lista de experiencias/educación al centro */
#experiencia ul,
#educacion ul {
    text-align: left;
    font-size: 20px;
    list-style: none;
    padding-left: 0; /* Eliminar el espacio en blanco izquierdo de la lista */
}

/* Estilos para cada elemento de experiencia/educación */
#experiencia li,
#educacion li {
    margin-bottom: 20px;
    /* Espacio entre cada elemento de la lista */
}



    /*IDIOMAS*/
    h3.titulo-idiomas{
        text-align: center;
        margin-top: 30px;
        margin-bottom:30px;
        font-size: 40px;
        
    }
    .skills-table {
    
        display: flex;
        justify-content: space-between;
        
        background: linear-gradient(to right, #318CE7, #afcdea);
        padding: 20px;
        border-radius: 8px;
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(1, 43, 122, 0.8) -6px -2px 16px 0px;
    }

    .skill-column {
        text-align: center;
        flex: 1;
    }

    .skill-title {
        font-size: 25px;
        margin-bottom: 10px;
        color: #333;
    }

    .skill-icon {
        font-size: 36px;
        color: #007bff; /* Azul */
    }
    div.skill-column img {
        transition: transform 0.5s ease; /* Cambia la duración y la función de temporización según tus preferencias */
    }
    /* Efecto de escala al pasar el cursor sobre los logotipos */
     div.skill-column img:hover {
        transform: scale(2);
    }
    





/* CONTACTO */
#contacto {
    background-color: #fff;
    /* Fondo blanco */
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    text-align: center;
    /* Centrar el contenido */
    margin-top: 30px;
    margin-bottom: 0px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}

#contacto h3 {
    font-size: 30px;
}

#contacto p {
    font-size: 20px;
}




/* FOOTER */



/* Estilos para enlaces en el pie de página */

footer {
    text-align: center;
    padding: 20px;
    background-color: #52a4fc;
    /* Azul */
    color: #fff;
    /* Texto blanco */
}

footer a {
    color: #fff;
    /* Texto blanco */
    text-decoration: underline;
}

/*iconos*/

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.redes-sociales a {
    margin: 0 10px;
    /* Espacio entre las redes sociales */
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s;
    /* Agregamos una transición para efecto de escala al pasar el cursor */
}

.redes-sociales a img {
    width: 30px;
    /* Ancho de los logotipos */
    height: 30px;
    /* Altura de los logotipos */
    transition: transform 0.3s ease; /* Cambia la duración y la función de temporización según tus preferencias */
}

div.redes-sociales img:hover{
    transform: scale(2);
}







/*BARRA LATERAL*/

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 20px;
}

/* Estilo para el track de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background-color: white;
    /* Cambia el color del track a #007bff */
}

/* Estilo para el thumb (el "pulgar") de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background-color: #318CE7;
    /* Cambia el color del pulgar a #318CE7 */
    border-radius: 5px;
    border: 3px solid #4a9ae9;
    /* Cambia el color del borde a #4a9ae9 */
    background-image: #007bff;
    /* Cambia la imagen de fondo */
}

/* Estilo para el thumb de la barra de desplazamiento cuando está siendo arrastrado */
::-webkit-scrollbar-thumb:hover {
    background-color: #6aa9e9;
    /* Cambia el color del pulgar al pasar el cursor a #6aa9e9 */
}






/* ANIMACIONES */



/* Animación de entrada desde la izquierda */
@keyframes entradaDesdeIzquierda {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animación de entrada desde la derecha */
@keyframes entradaDesdeDerecha {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Animación de entrada desde arriba */
@keyframes entradaDesdeArriba {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animación de entrada desde abajo */
@keyframes entradaDesdeAbajo {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animación de entrada difuminada */
@keyframes entradaDifuminada {
    0% {
        transform: translateY(0%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animación salto */
@keyframes salto {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Estado inicial y final */
    }
    40% {
        transform: translateY(-30px); /* Primer salto grande hacia arriba */
    }
    60% {
        transform: translateY(-15px); /* Primer pequeño salto hacia abajo */
    }
    70% {
        transform: translateY(-25px); /* Segundo pequeño salto hacia arriba */
    }
}






/* Aplicar las animaciones*/
.entradaDesdeDerecha {

    animation: entradaDesdeDerecha 1s ease-in-out;
}

.entradaDesdeIzquierda {
    animation: entradaDesdeIzquierda 1s ease-in-out;
}

.entradaDesdeIzquierdaLenta {
    animation: entradaDesdeIzquierda 2s ease-in-out;

}

.entradaDesdeArriba {
    animation: entradaDesdeArriba 2s ease-in-out;
}

.entradaDesdeAbajo {
    animation: entradaDesdeAbajo 1s ease-in-out;
}

.entradaDifuminada {
    animation: entradaDifuminada 2s ease-in-out;
}







/* Media query para hacer que la página sea receptiva en dispositivos medianos */
@media (max-width: 1080px) {
 
    /* Ocultar la imagen en pantallas pequeñas */
    #sobre-mi img {
        display: none;

    }

    /* Centrar el texto en la sección "Sobre Mí" */
    #sobre-mi div {
        text-align: center;
    }

    /* Ajustar el tamaño de fuente del título y el texto */
    #sobre-mi h3 {
        font-size: 40px;
    }

    #sobre-mi p {
        font-size: 20px;

    }
    
    

}


/* Media query para hacer que la página sea receptiva en dispositivos pequeños */
@media (max-width: 768px) {

    /* Navegador */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }


}